<li class="amber accent-2 teal-text text-darken-4 z-depth-3 collection-item">
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newstatus="{{devoured}}">
		{{#if devoured}}NEW TACOS!{{else}}Bueno!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Adios!</button>
</li>

{{!-- <li class="amber accent-2 teal-text text-darken-4 z-depth-3 collection-item">
	{{burger_name}} {{#unless devoured}}
	<div class="eat-btn">
		<button class="btn-small btn-floating waves-effect waves-light pulse eat-burger tooltipped" data-position="right" data-tooltip="Eat this burger..."
		 data-id="{{this.id}}">Eat</button>
	</div>
	{{/unless}}

</li> --}}